/* Search container */
body:before {
	content: 'phone';
	display: none;
}

* {
	box-sizing: border-box;
}

.wrapper {
	flex-flow: column;
}

.container-fluid {
	/*flex-wrap: wrap;*/
	flex-direction: column;
	padding: 0px;
}

/* Map container */
#map {
	height: calc(100vh - 58px);
	transition: height 1s;
}

/* Search details container */
#search-details {
	background-color: $whiteThree;
	display: none;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50vh;
	padding: 10px;
}

.search-options-header,
.search-details-header {
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	h2 {
		flex: 0 0 auto;
		display: inline-flex;
	}
	.search-close {
		flex: 0 0 auto;
	}
}

.search-container {
	padding: 0px !important;
	z-index: 35000;
}

.search-header {
	background-color: $whiteOne;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 10px 6px -6px rgba(119,119,119,0.3);
	padding: 10px;
}

/* Search options container */
#search-options {
	background-color: $whiteTwo;
	/* remove height after being filled out with search options. */
	display: none;
	padding: 10px;
	z-index: 35000;
}

@include media-breakpoint-up(md) {
	body:before {
		content: 'tablet';
	}

	.wrapper {
		flex-flow: row;
	}
	
	#start-search, #search-options>.search-close {
		display: none;
	}

	.search-header, #search-options {
		align-items: flex-start;
		position: initial;
		box-shadow: 0;
		display: flex;
		flex-flow: column;
	}
	
	#map {
		height: 100vh;
	}

	#search-options {
		height: calc(100vh - 58px);
	}

	.search-container {
		position: initial;
	}
	
	.search-options-header .search-close {
		display: none;
	}
}

